#!/usr/bin/env python
# encoding:utf-8
PACKAGE = "lidar_obstacle_detection"
 
from dynamic_reconfigure.parameter_generator_catkin import *
 
gen = ParameterGenerator()
 
 
gen.add("x_stop_range_front",    double_t,    0, "前方安全距离", 1.5,  0.1, 30)
gen.add("x_stop_range_rear",    double_t,    0, "后方安全距离", 1.5,  0.1, 30)
gen.add("y_stop_range", double_t, 0, "左右安全距离",    0.8, 0.1,   20)
gen.add("z_stop_range",    double_t,    0, "高度安全距离",   1.81, 0.1,   2.5)


gen.add("x_range",    double_t,    0, "前后识别距离", 30,  0.1, 50)
gen.add("y_range",   double_t,     0, "左右识别距离",  10, 0.1,   20)
gen.add("z_range",    double_t,    0, "高度识别距离",   1.81, 0.1,   2.5)


gen.add("filterRes",    double_t,    0, "滤波系数", 0.05,  0.05, 1)
gen.add("cluster_distance",   double_t,     0, "聚类有效距离",  0.3, 0,   3)
gen.add("min_points_num",    int_t,    0, "最小有效点数",   3, 0,   1000)
gen.add("max_points_num",    int_t,    0, "最大有效点数", 500,  0, 20000)

gen.add("save_config",   bool_t,   0, "保存配置",  False)
gen.add("recover_default",   bool_t,   0, "恢复默认配置",  False)
exit(gen.generate(PACKAGE, "lidar_obstacle_detection", "Detection"))
