<!-- -->
<launch>

  <arg name="plane" default="1"/>
  <arg name="get_gnss_init_pose" default="0" />
  <arg name="input_topic" default="/gps/fix" />
  <arg name="useUwb" default="0"/>


  <node pkg="gnss_localizer" type="fix2tfpose" name="fix2tfpose">
    <param name="plane" value="$(arg plane)"/>
    <param name="useUwb" value="$(arg useUwb)"/>
    <rosparam file="$(find startingup_ros)/data/Common/param/gnss_init_pose.yaml" command="load" />
    <param name="get_gnss_init_pose" value="$(arg get_gnss_init_pose)" />
    <remap from="/fix" to="$(arg input_topic)"/>
  </node>

</launch>