#!/usr/bin/env python
# -*- coding: UTF-8 -*-

PACKAGE = "lane_follow"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("h_size",    int_t,    0, "截取图像宽度", 50,  0, 100)
gen.add("h_off", int_t, 0, "摄像头安装位置偏移",    -100, 0,   100)
gen.add("h_top",    int_t,    0, "截取图像顶端宽度",   0, 0,   100)


gen.add("v_size",    int_t,    0, "截取高度", 50,  0, 100)
gen.add("v_off",   int_t,     0, "去除车头图像偏移",  -10, 0,   100)


gen.add("gray_threshold",    int_t,    0, "灰度阀值", 160,  0, 255)
gen.add("hls_val",   int_t,     0, "识别阀值",  160,  0, 255)

gen.add("img_compress",    double_t,    0, "图像压缩比例", 0.5,  0, 1)
gen.add("speed",   int_t,     0, "车辆控制的速度",  1,  0, 10)

gen.add("save_config",   bool_t,   0, "保存配置",  False)
gen.add("recover_default",   bool_t,   0, "恢复默认配置",  False)

exit(gen.generate(PACKAGE, "lane_follow", "Detect_range"))